<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfSnake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfSnake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2,Profile=Client" />
    </startup>
    <applicationSettings>
        <WpfSnake.Properties.Settings>
            <setting name="ScoresFile" serializeAs="String">
                <value>.\Resources\Scores.xml</value>
            </setting>
        </WpfSnake.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WpfSnake.Properties.Settings>
            <setting name="WorldColumns" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WorldRows" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WorldCellSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HeadImageURI" serializeAs="String">
                <value>.\Resources\Head.png</value>
            </setting>
            <setting name="BodyImageURI" serializeAs="String">
                <value>.\Resources\Body.png</value>
            </setting>
            <setting name="TailZigImageURI" serializeAs="String">
                <value>.\Resources\TailZig.png</value>
            </setting>
            <setting name="TailZagImageURI" serializeAs="String">
                <value>.\Resources\TailZag.png</value>
            </setting>
            <setting name="BombLeftSparkImageURI" serializeAs="String">
                <value>.\Resources\BombLeftSpark.png</value>
            </setting>
            <setting name="BombRightSparkImageURI" serializeAs="String">
                <value>.\Resources\BombRightSpark.png</value>
            </setting>
            <setting name="BOOMImageURI" serializeAs="String">
                <value>.\Resources\BOOM.png</value>
            </setting>
            <setting name="TailImageURI" serializeAs="String">
                <value>.\Resources\Tail.png</value>
            </setting>
            <setting name="BombTimer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HighScores" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;ArrayOfScore xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;Score&gt;
    &lt;PlayerName&gt;Player 1&lt;/PlayerName&gt;
    &lt;PlayerScore&gt;1000&lt;/PlayerScore&gt;
    &lt;Date&gt;2012-08-05T16:15:07.5260708-04:00&lt;/Date&gt;
  &lt;/Score&gt;
  &lt;Score&gt;
    &lt;PlayerName&gt;Art DoooD&lt;/PlayerName&gt;
    &lt;PlayerScore&gt;900&lt;/PlayerScore&gt;
    &lt;Date&gt;2012-08-09T23:55:32.9736819-04:00&lt;/Date&gt;
  &lt;/Score&gt;
  &lt;Score&gt;
    &lt;PlayerName&gt;Where is this one&lt;/PlayerName&gt;
    &lt;PlayerScore&gt;154&lt;/PlayerScore&gt;
    &lt;Date&gt;2012-08-11T19:47:20.2132059-04:00&lt;/Date&gt;
  &lt;/Score&gt;
  &lt;Score&gt;
    &lt;PlayerName&gt;Player 1&lt;/PlayerName&gt;
    &lt;PlayerScore&gt;17&lt;/PlayerScore&gt;
    &lt;Date&gt;2012-08-11T00:49:04.8819364-04:00&lt;/Date&gt;
  &lt;/Score&gt;
  &lt;Score&gt;
    &lt;PlayerName&gt;Player 1&lt;/PlayerName&gt;
    &lt;PlayerScore&gt;8&lt;/PlayerScore&gt;
    &lt;Date&gt;2012-08-11T19:46:37.4467598-04:00&lt;/Date&gt;
  &lt;/Score&gt;
  &lt;Score&gt;
    &lt;PlayerName&gt;test&lt;/PlayerName&gt;
    &lt;PlayerScore&gt;8&lt;/PlayerScore&gt;
    &lt;Date&gt;2012-08-11T00:50:48.9108865-04:00&lt;/Date&gt;
  &lt;/Score&gt;
  &lt;Score&gt;
    &lt;PlayerName&gt;Player 1&lt;/PlayerName&gt;
    &lt;PlayerScore&gt;8&lt;/PlayerScore&gt;
    &lt;Date&gt;2012-08-11T00:50:31.9519165-04:00&lt;/Date&gt;
  &lt;/Score&gt;
  &lt;Score&gt;
    &lt;PlayerName&gt;Player 1&lt;/PlayerName&gt;
    &lt;PlayerScore&gt;8&lt;/PlayerScore&gt;
    &lt;Date&gt;2012-08-11T00:48:47.6579512-04:00&lt;/Date&gt;
  &lt;/Score&gt;
&lt;/ArrayOfScore&gt;</value>
            </setting>
            <setting name="BombsLaidRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BombGenerationRateMax" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TurnTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GrowthTurnsPerOneUnit" serializeAs="String">
                <value>5</value>
            </setting>
        </WpfSnake.Properties.Settings>
    </userSettings>
</configuration>